.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.image {
  max-width: 150px!important;
  margin: auto;
  padding: 20px!important;
  background:none!important;
}

.profile-button-wrap {
  margin: 10px auto 10px;
  width:100%;
  border-top: 1px solid rgb(233, 233, 233);
  border-bottom: 1px solid rgb(233, 233, 233);
  padding: 10px;
}

.commit-list-title{
  font-size: 18px;
}


@media (max-width: 1000px) {
  .ui.card {
    margin: 10px auto!important;
    width: 100%!important;
    padding-bottom: 42px!important;
    border: 0px;
  }
}
 
@media (min-width: 1001px) {
  .ui.card {
    margin: 0px auto;
    width: 100%!important;
    padding-bottom: 0px;
    border: 0px;
  }

  .profile-button-wrap {
    margin: 0px;
  }
}
